/* Main container*/

div.App {
  height: 100%;
  text-align: center;
  width: 100vw;
  background-color: whitesmoke;
  overflow: hidden;
}
.App h1 {
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: -0.2px 1px 0px white;
  text-decoration-line: underline;
  color: #3936dd;
}


/*icons save product*/
.saveIcon{
  position: absolute;
  top:1%;
  left:2%;
  font-size: 25px;
  padding: 2%;
  z-index: 2;
  text-align: center;
  cursor: pointer;
}
.saveIcon i:hover{
  color:blue;
  text-shadow: 1px 1px 4px white;
  
}


/* save product Container list */
.saveProductContainer{
  position: absolute;
  top:0%;
  left:0%;
  background-image: url(../image/dark.png); /* Made by Tia Newbury */
  border: 2px solid black;
  min-height: 10%;
  box-shadow: 0px 0px 10px inset white;
  width: 100%;
  z-index: 1;
 
}
.saveProductContainer ul{
  
list-style-type: circle;
list-style-position: inside;
margin:0;
padding: 2%;
color:silver;
}
.saveProductContainer ul li{
padding: 2%;
}
.saveProductContainer ul li span{
  padding: 1%;
  }


/*  parts Form */
div form {
  position: absolute;
  top:13vh;
  left: 50%;
  border: 2px solid black;
  border-radius:15%;
  width: 90%;
  height: 60%;
  min-height: 350px;
  color: silver;
  transform: translateX(-50%);
  background-image: url(../image/dark.png); /* Made by Tia Newbury */
  box-shadow: 0px 0px 10px inset white;
  font-size: 13px;

}

.choiceInput {
  text-shadow: -0.4px 0.2px 0.1px white;
  letter-spacing: 1px;
}

form input {
  margin-left: 2%;
  margin-top: 2%;
  background-color: silver;
}

/*Buttoon Add and Remove */

.buttonAdd {
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  color: silver;
  text-shadow: 2px 1px 1px black;
  border: 1px solid black;
  border-radius: 25%;
  background-color: gray;
  box-shadow: 3px 3px 10px black inset, -3px -3px 10px black inset;
  cursor: pointer;
}
.buttonAdd:hover {
  transform: translateY(-2px);
  text-shadow: 2px 1px 1px black, 2px 1px 5px white;
}

.buttonRemove {
  font-size: 10px;
  color: white;
  text-shadow: 2px 1px 1px black;
  border: 1px solid black;
  border-radius: 25%;
  background-color: silver;
  box-shadow: 3px 3px 10px black inset, -3px -3px 10px black inset;
  text-align: center;
  cursor: pointer;
}

/*Container below form */
.boardScore {

  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  margin-top: 100vh;
}

/* Single div */

.boardScore div {
 
  display: flex;
  width: 90%;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-shrink: 1;
  background-image: url(../image/dark.png); /* Made by Tia Newbury */
  border: solid 2px black;
  border-radius: 15%;
  overflow: hidden;
  color: white;
  margin: 5% 0;
  box-shadow: 0px 0px 10px inset white;
}

.boardScore div h1 {
  width: 100%;
  height: 10%;
  padding: 0;
  color: #3936dd;
  text-decoration-line: underline;
  text-transform: uppercase;
  text-shadow: -0.4px 0.2px 0.2px white;
}
.boardScore div ul {
  width: 100%;
  list-style-type: none;
  text-align: left;
  font-size: 14px;
  padding: 4px;
  margin: 0;
}
.boardScore div ul li {
  width: 100%;
  padding: 3px 2px;
  margin-left: 4px;
}
.boardScore div ul li span {
  padding: 2px;
}

/* Color title div */

div.secondBreakfast h1 {
  color: palevioletred;
}
div.breakfast h1 {
  color: aqua;
}
div.dinner h1 {
  color: green;
}
div.snack h1 {
  color: red;
}
div.supper h1 {
  color: orangered;
}

/*Tabel in div */

.boardScore table {
  width: 100%;
  position: relative;
}
.boardScore table td,
.boardScore table th {
  border: 1px solid silver;
}

/*Tabel DailyCounter */

.dailyCounter {
  width: 80%;
  position:absolute;
  right: 42%;
  top: 0%;
  transform: translateX(50%);
  border: 2px solid white;
  text-align: center;
  padding: 0.5%;
  color: white;
  background-image: url(../image/dark.png); /* Made by Tia Newbury */
}
.dailyCounter table {
  width: 100%;
}

.dailyCounter td,
.dailyCounter th {
  border: 1px solid whitesmoke;
}



/*Media Queris*/

@media (min-width: 425px) {
  .boardScore div ul {
    font-size: 20px;
  }
}

@media (min-width: 500px) {
  .boardScore {
    align-content: space-around;
  }
  .boardScore div {
    flex-basis: 30%;
    width: 40%;
    height: 80%;
    align-content: space-around;
  }
  .boardScore div ul {
    font-size: 11px;
  }
  .saveProductContainer{
    width: 100%; 
  }
  .dailyCounter {
    width: 50%;
    right: 26%;

  }
}
@media (min-width: 570px) {
  div form {
    height: 68vh;
    font-size: 18px;
    height: 30vh;
  }
}

@media (min-width: 768px) {
  div form { 
    width:70%;
    height: 70vh;
    font-size: 17px;
    padding: 20px;
  }
  form input {
    margin-top: 5%;
  }
  .boardScore div ul {
    font-size: 14px;
  }
  .saveProductContainer{
    width: 45%; 
  }
  
}
@media (min-width: 1024px) {
  div form {
    height: 70vh;
    width: 60%;
    border: 4px solid black;
    margin: auto 0;
  }

  .boardScore div ul li span {
    padding: 4px;
  }

  .dailyCounter {
    width: 30%;
    right: 17%;
    top: 3%;
  }
}
@media (min-width: 1300px) {
  div form {
   width:60%;
   font-size: 20px;
  }
  .saveProductContainer{
    width: 30%; 
  }
  .saveIcon{
    top:-2%;
    left:0%;
    font-size: 25px;
   
  }
  
}

/*media Queris min height 600px*/
@media (min-width:320px) and  (min-height: 600px){
  div form { 
   
    font-size: 16px;
 
  }
  
}
@media (min-width:778px) and  (min-height: 600px){
  div form { 
    font-size: 18px;
  }
  .App h1 {
    font-size: 28px;
  }

}
@media (min-width:1024px) and  (min-height: 600px){
  div form { 
    font-size: 23px;
  }
}

/*media Queris min height 900px*/

@media (min-width:320px) and  (min-height: 900px){
  div form { 
    font-size: 24px;
  }
  .App h1 {
    font-size: 17px;
  }
  
}
@media (min-width:778px) and  (min-height: 900px){
  div form { 
    font-size: 30px;
  }
  .App h1 {
    font-size: 29px;
  }

}
@media (min-width:1024px) and  (min-height: 900px){
  div form { 
    font-size: 34px;
  }
  .App h1 {
    font-size: 36px;
  }
}

@media (min-width:1366px) {
  div form {
    width:50%;
    font-size: 20px;
   }
   .saveProductContainer{
     position: relative;
     width: 30%; 
   }
   .saveIcon{
    position:relative;
     top:0%;
     left:-35%;
     font-size: 35px;
    
   }
   div.App {
    max-width: 1345px;
    margin:0 auto;   
  
  }
  
}
